@import "../core/index.module";


.popup-content {
  .icon {
    font-size: 13px;
    margin-right: 3px;
  }

  .label {
    display: block;
  }

  .divider {
    height: 12px;
  }

  :global(.ant-calendar-picker) {
    width: 290px;
    margin-right: 14px;
    input {
      padding-left: 34px;
    }
  }

  :global(.ant-time-picker-icon),
  :global(.ant-calendar-picker-icon) {
    left: 12px;
  }

  :global(.ant-time-picker) {
    width: 150px;
  }
}

.popup-footer {
  margin-top: 24px;
  text-align: right;
  button {
    margin-left: 8px;
  }
}
